html{ /* movienight's background is scuffed and fucks with the kf background. this turns it off  */
  background-image: none !important;
  background-color: transparent !important;
}
body {
 background-image: url("https://i.ibb.co/qxmyLkR/b6475fe6109775d51825b1701514a6c05a923e44.webp");  /* kf background image */
 background-color: #272b30; /* grey background, incase anyone insists the background image needs to go */ 
 background-size: contain; 
 background-blend-mode: color-dodge;
}

#controlsrow{
 padding-top: 5px;
 padding-left: 15px;
 background-color: #272b30;
 padding-bottom: 25px;;
}

#main{ 
  padding-top: 30px; /*the amount of grey about the chat/movie */
  /*margin-left: 0px;*/
  padding-left: 10px;
  margin-right: -15px;
  background-color: #272b30;
}

.nick-hover{
  background-color: rgba(17,17,34,0.9);
}
#wrap {
  padding: 0px;
}
#userlisttoggle{
  padding-right: 5px;
}
#modflair{
  margin-right: 5px;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #444; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.form-control{
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
}

#footer{
  display: none;
}

#chatwrap{ /* add color to chat so the background doesn't show through */
  background-color: #272b30; 
  padding-left: 5px;
  padding-right: 8px;
  margin-bottom: 5px;
}

#videowrap{
  padding-left:20px;
  margin-bottom:5px;
}

#pollwrap {
  padding-right: 5px;
} 

#leftcontrols {
  position: relative; /* set leftcontrols to be the reference point for the absolute positioning of videocontrols */
  padding-left: 0px;
}

@media (pointer: fine) { 
  #videocontrols {
    top: 0;
    right: calc(100% + 26px); /* this is the part that moves the voteskip under chat for blind people */
  }
  #plcontrol{
   padding-left: 2px;
  }

}




#voteskip::before{
  content: "Vote Skip"; /* If people can't find the "voteskip" button after this, there's no helping them. */
  padding: 2px;
}

#resize-video-smaller{ /* padding for the video size buttons. */
  padding-right: 5px;
}

[class^="server-msg-"] { /* makes the server messages pretty uwu */
  border-radius:5px;
}

#currenttitle{ /* add a little padding to the movie title */ 
  padding-left: 5px;
}

#pollwrap > div { 
  margin-top: 5px; /* reduce space between the poll and the chat. i'm hopping this will make polls easier for people to notice. */
  padding-left: 15px; 
}

.close.pull-right{
  padding-left: 5px;
}

.well{
  padding: 5px;
}

#pollwrap > div > h3 {
  position: relative;
  margin-top: 5px;
  width: 80%;
}

/* round the corner on buttons, without adding weird rounded corners in the middle of button groups */
button, button:hover, button.close, button.close:hover, .btn, .btn:hover{
  border-radius:3px;
}
